/**/
#name {
  background-color:none;
   text-align: start;
}
body {
            margin: 0;
            font-family: Arial, sans-serif;
        }


/* this for the button design*/
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #313647;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

.sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #ece9e9;
            display: block;
            transition: 0.3s;
        }
 a:hover {
            color: #e9e5e5;
        }
.sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
.openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #181818;
            color: white;
            padding: 10px 15px;
            border: none;
        }
.openbtn:hover {
            background-color: #444;
        }
#main {
            transition: margin-left .5s;
            padding: 16px;
        }

/*For message page*/
#N {
    font-family: Garamond;
    font-size: larger;
    text-align: center;
}
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify
}
.button {
    background-color: #f7eded;
    border: none;
}
p{
    color:rgb(19, 18, 18);
    font-family: Garamond;
    font-size: larger;
}
#start  {
    text-align: center;
}
#last {
    text-align: center;
}
#color {
    background-color: #444;
}

 *{box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}